<section>
  <div class="artifact-detail" *ngFor="let info of artifactData">
    <div class="artifact-image">
      <img
        src="https://www.artic.edu/iiif/2/{{info.data['image_id']}}/full/843,/0/default.jpg"
        alt="Landscape with Dog Oil Painting">
    </div>
    <div class="artifact-info">
      <p><span id="image-title">{{info.data["title"]}} </span><span id="small-year">{{info.data["date_end"]}}</span></p>
      <p id="image-author">{{info.data["artist_display"] | slice: 0:15}}</p>
      <p id="image-author">{{info.data["artist_display"] | slice: 15}}</p>
      <p class="image-description-title">Origin</p>
      <p class="image-description">{{info.data["place_of_origin"]}}</p>
      <p class="image-description-title">Medium</p>
      <p class="image-description">{{info.data["medium_display"]}}</p>
      <p class="image-description-title">Inscriptions</p>
      <p class="image-description">{{info.data["inscriptions"]}}</p>
      <p class="image-description-title">Dimensions</p>
      <p class="image-description">{{info.data["dimensions"]}}</p>
      <p class="image-description-title">Credit Line</p>
      <p
        class="image-description">{{info.data["credit_line"] | slice: 0:58}}</p>
      <p class="image-description">{{info.data["credit_line"] | slice: 58}}</p>
      <p class="image-description-title">Reference Number</p>
      <p class="image-description">{{info.data["main_reference_number"]}}</p>
    </div>
  </div>
</section>

