
#dev-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background: red;
  height: 88px;
  width: 88px;
  position: absolute;
  margin: 57px 0 0 29px;
  padding: 20px 10px;
  color: white;
  font-family: Poppins;
  font-weight: 300;
}

.nav-item {
  padding: 0 24px;
  font-family: Poppins;
}

.nav-item:not(:last-child) {
  border-right: 1px solid #D9D9D9;
}

.breadcrumb {
  position: absolute;
  display: flex;
  align-items: center;
  height: 75px;
  color: white;
  padding-left: 40px;
  font-family: "Source Sans Pro";
}

.breadcrumb-image {
  background-image: url("/src/assets/breadcrumb-image.png");
  height: 75px;
  background-repeat: repeat-y;
  width: 100%;
}






