@import "src/fonts";
@import "~bootstrap/scss/bootstrap";

.newsletter-container {
  padding-left: 698px;
  padding-bottom: 30px;
  margin-top: -202px;
}

#newsletter-title {
  padding: 60px 0 10px 0;
  font-family: "Source Sans Pro";
  font-weight: $font-sans-pro-light;
}

.form-input {
  width: 360px;
  font-family: "Source Sans Pro";
}

.btn-primary {
  background: #5766C4 !important;
}
