@import "src/fonts";

.art-listing-section {
  display: block;
  padding-left: 74px;
}

#author-title {
  margin-top: 60px;
  font-size: 14px;
  font-family: "Source Sans Pro";
  font-weight: $Sans-Pro-Light;
}

#author-name {
  font-family: "Source Sans Pro";
  font-weight: $Sans-Pro-Bold;
}

.artifact-detail {
  padding-top: 20px;
  font-family: "Source Sans Pro";
  font-weight: $Sans-Pro-Light;
}

.artifact-detail > p {

  line-height: 10px;
}
