@import "src/fonts";

.art-listing-section {
  font-family: "Source Sans Pro";
  display: block;
  padding-left: 74px;
  padding-top: 50px;
}

.image-title {
  font-family: "Source Sans Pro";
}

#author-name {
  font-family: "Source Sans Pro";
  font-weight: bold;
  padding-bottom: 30px;
}
